#calc {
    border: 1px solid black;
    margin: 50px auto 0;
    width: 350px;
    text-align: center;
}

input[type="button"] {
    width: 90%;
    padding: 20px 40px;
    font-size: 40px;
    font-weight: bold;
    border-radius: 5px;
    margin: 10px;
}

input[type="text"] {
    font-size: 50px;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid black;
    width: 95%;
    margin: 15px 0 10px 10px;
    padding: 11px 10px;
}
